pandas
numpy
faiss-cpu
sentence-transformers
fastapi
uvicorn
sqlalchemy
streamlit
python-jose
passlib[bcrypt]
transformers
torch
qrcode
speechrecognition
pyttsx3
openai
deep-translator
langdetect
matplotlib
